
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav{
    display:flex;
    gap:20px;

   
}
.nav li{
    list-style-type:none;
    transition:transform,3s,ease-in;

}

.nav li:hover{
    cursor:pointer;
    color:lightblue;
    transform:scale(1.4);
}

.logo{
    align-self:center;
    color:lightblue;
}

.logoLink{
    color:lightblue;
}

.logo:active{
    color:lightblue;
}









@media(max-width:500px){
    .header{
        flex-direction:column-reverse;
    }

    .logo{
        margin-bottom:1rem;
    }

    .nav{
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}